* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212122;
  line-height: 1.5;
  background-color: azure;
}

.form {
  margin-top: 0px;
  background-color: #00008B;
display: block;
text-align: center;
height: 50px;
padding: 10px;
}

#search-form {
  font: inherit;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}


li {
list-style: none;
}

.photo-card {
display: none;


}

