* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212122;
  line-height: 1.5;
 
}
a {
  text-decoration: none;
}


.form {
  margin-top: 0px;
  background-color: #00008B;
display: block;
text-align: center;
height: 50px;
padding: 10px;

}
.word {
  border: none;
  border-radius: 5px;
}
#search-form {
  
  border-radius: 10px;
  font: inherit;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#search-form:hover,
#search-form:focus {
  opacity: 0.9;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);

} 


li {
list-style: none;

}

.photo-card {
display: none;
flex-direction: column;
justify-content: space-around;
align-items: center;
border: 1px solid rgba(27, 31, 35, 0.15);
border-top: none;
border-left: none;
border-right: none;
border-radius: 0 0 4px 4px;
box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0;
padding: 10px; 
display: flex;
}


.image {
  width: 350px;
  height: 200px;
  display: block;
  height: 30vh;
  object-fit: cover;

  
}

.load-more{
  display: block;
  border: none;
  width: 180px;
  height: 50px;
  background-color: #00008B;
  color: #fafafa;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  bottom: 3vh;
  z-index: 1000;
  margin-top: 25px;
  margin-left: 50%;
  opacity: 1;
  
}

.load-more:hover

{
  background-color: green;
  opacity: 0.8;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more.is-hidden
{
display: none;

}
/* .btn-to-top--vissible{
  opacity: 0;
  visibility: hidden;
} */

.img_card{
  position: relative;
  
}


.image:hover,
.image:focus {
    opacity: 0.8;
    
    transform: scale(1.1);
    transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.photo-card {
  display: flex;
  margin:15px;
     
}

.info {
  color: black;
  
  bottom: 0px;
  left: 0px;
  display: flex;

  flex-wrap: wrap;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.info-item:not(:first-child){
  margin-left: 5px;
}

.gallery {

  display: flex;
  flex-wrap: wrap;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
      flex-flow: wrap;
      flex-basis: calc((100% - 30px) / 3);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;
      

}
.search-button{
  border-radius: 5px;
  background-color: aquamarine;
  border: none;
}
.search-button:hover, 
  .search-button:focus{
  opacity: 0.9;
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
